@font-face {
  font-family: "Robto";
  src: url("../font/taggd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .col-sm-1 {
    width: 8.33;
  }
  .col-sm-2 {
    width: 16.66;
  }
  .col-sm-3 {
    width: 24.99;
  }
  .col-sm-4 {
    width: 33.32;
  }
  .col-sm-5 {
    width: 41.65;
  }
  .col-sm-6 {
    width: 49.98;
  }
  .col-sm-7 {
    width: 58.31;
  }
  .col-sm-8 {
    width: 66.64;
  }
  .col-sm-9 {
    width: 74.97;
  }
  .col-sm-10 {
    width: 83.3;
  }
  .col-sm-11 {
    width: 91.63;
  }
  .col-sm-12 {
    width: 99.96;
  }
  .pixel {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33;
  }
  .col-md-2 {
    width: 16.66;
  }
  .col-md-3 {
    width: 24.99;
  }
  .col-md-4 {
    width: 33.32;
  }
  .col-md-5 {
    width: 41.65;
  }
  .col-md-6 {
    width: 49.98;
  }
  .col-md-7 {
    width: 58.31;
  }
  .col-md-8 {
    width: 66.64;
  }
  .col-md-9 {
    width: 74.97;
  }
  .col-md-10 {
    width: 83.3;
  }
  .col-md-11 {
    width: 91.63;
  }
  .col-md-12 {
    width: 99.96;
  }
  .pixel {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33;
  }
  .col-lg-2 {
    width: 16.66;
  }
  .col-lg-3 {
    width: 24.99;
  }
  .col-lg-4 {
    width: 33.32;
  }
  .col-lg-5 {
    width: 41.65;
  }
  .col-lg-6 {
    width: 49.98;
  }
  .col-lg-7 {
    width: 58.31;
  }
  .col-lg-8 {
    width: 66.64;
  }
  .col-lg-9 {
    width: 74.97;
  }
  .col-lg-10 {
    width: 83.3;
  }
  .col-lg-11 {
    width: 91.63;
  }
  .col-lg-12 {
    width: 99.96;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr;
  font-family: "Robto";
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1000px;
  position: relative;
}

.row::after {
  content: "";
  display: table;
  clear: both;
  display: flex;
  justify-content: center;
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
nav .contact {
  white-space: nowrap;
  margin-top: 40px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
}
nav .contact .btn-like {
  border-radius: 20px;
  color: #fff;
  background-color: #9fa8da;
  padding: 10px 25px;
  font-size: 16px;
}
nav .contact a {
  padding: 7px 25px;
  font-weight: 700;
  color: grey;
}
nav .contact a:nth-last-child(7) {
  border-bottom: 2px solid #9fa8da;
}
nav .pixel {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
}
nav .pixel span {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: grey;
}
nav .pixel img {
  transform: rotate(-60deg);
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .right {
  display: flex;
  flex-basis: 40%;
  max-width: 40%;
  position: relative;
  right: 70px;
}
header .left {
  display: flex;
  flex-basis: 40%;
  max-width: 40%;
  margin-top: 80px;
  text-align: justify;
  margin-left: 0;
  font-size: 16px;
}
header .left h1 {
  font-size: 34px;
  font-weight: 700;
  color: gray;
}
header .left h3 {
  font-size: 20px;
  color: gray;
  font-weight: bold;
}
header .left p {
  color: #9fa8da;
  font-size: 40px;
  font-weight: 700;
}
header .left h6 {
  color: gray;
  line-height: 19px;
}
header .left .btn-like {
  border-radius: 20px;
  color: #fff;
  background-color: #9fa8da;
  padding: 7px 25px;
  font-size: 16px;
  margin-top: 15px;
  position: absolute;
}
header .left .logo-top {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -5px;
  left: 190px;
  opacity: 0.2;
}
header .left .logo-bottom {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 300px;
  bottom: -4px;
  opacity: 0.2;
}

.img-line {
  display: flex;
  justify-content: center;
}
.img-line img {
  padding: 10px;
  margin: 5px;
  opacity: 0.6;
}

.pragragh {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pragragh p {
  font-size: 18px;
  padding-bottom: 5px;
}

.row {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.row .course {
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px 10px 3px rgb(85, 87, 85);
}
.row .course img {
  width: 100%;
  height: auto;
  display: block;
}
.row .course .meta h1 {
  text-align: center;
  font-size: 26px;
  padding-bottom: 15px;
}
.row .course .meta p {
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;
  white-space: nowrap;
}

.row .right1 img {
  width: 470px;
  height: 366px;
}
.row .left1 {
  display: flex;
  flex-basis: 40%;
  max-width: 40%;
  margin-top: 80px;
  text-align: justify;
  margin-left: 0;
  font-size: 16px;
}
.row .left1 h1 {
  font-size: 34px;
  font-weight: 700;
  color: gray;
}
.row .left1 .btn-like1 {
  position: absolute;
  border-radius: 20px;
  color: #fff;
  background-color: #9fa8da;
  padding: 7px 25px;
  font-size: 16px;
  top: 230px;
}
.row .left1 h3 {
  font-size: 20px;
  color: gray;
  font-weight: bold;
}
.row .left1 p {
  color: #9fa8da;
  font-size: 40px;
  font-weight: 700;
}
.row .left1 h6 {
  color: gray;
  line-height: 19px;
}
.row .dir-left1 {
  line-height: 1.3;
}

.row .right2 {
  position: absolute;
  right: 0;
  top: 0;
}
.row .right2 img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #fff;
}
.row form {
  position: absolute;
  left: 0;
}
.row form button {
  border-radius: 20px;
  color: #fff;
  background-color: #9fa8da;
  padding: 7px 25px;
  font-size: 16px;
  border: 2px solid #fff;
}
.row form input {
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 2px 3px 10px 3px rgb(168, 184, 168);
}
.row form .textearia1 {
  width: 270px;
  height: 150px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: space-evenly;
}
footer div {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #000;
  margin-top: 40px;
  margin-left: 20px;
}
footer div p {
  color: gray;
  padding-top: 8px;
  white-space: nowrap;
}

.pixel {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.pixel span {
  font-weight: 700;
  font-size: 18px;
  color: grey;
  line-height: 3;
}
.pixel img {
  transform: rotate(-45deg);
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-weight: bold;
}

.test1 {
  display: none;
}

.berger {
  opacity: 0;
}

.close {
  opacity: 0;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .berger {
    opacity: 1;
  }
  input:checked ~ label .close {
    opacity: 1;
  }
  input:checked ~ label .berger {
    opacity: 0;
  }
  input:checked ~ #nav {
    display: block;
  }
  #nav {
    display: none;
  }
  #nav .pixel {
    display: none;
  }
  header .left {
    display: none;
  }
  .row .course1 {
    overflow: hidden;
    white-space: nowrap;
  }
  .right1 {
    display: none;
  }
  .left1 {
    white-space: nowrap;
  }
  .left1 .btn-like1 {
    margin-top: 5px;
  }
  .right2 {
    display: none;
  }
  .row form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    left: 30px;
  }
  footer .pixel {
    display: none;
  }
}
@media screen and (min-width: 702px) and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .left1 {
    white-space: nowrap;
  }
  .left1 .btn-like1 {
    display: none;
  }
  .right2 {
    display: none;
  }
  .row form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    left: 30px;
  }
  .right1 {
    display: none;
  }
}/*# sourceMappingURL=min-style.css.map */